table {
    border-radius: 10px;
    border-collapse: collapse;
    width: 90%;
    
    
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #3398db;
    color: white;
  }
  
  .contA{

    position: relative;
    top: 60px;
    padding-left: 40px;

  }

  .button4{

      background-color: #3498db;
      color: white;
      border: none;
      padding: 4px 20px;
      cursor: pointer;
      border-radius: 5px;
  }

  
  .button5{

    background-color: #F15A59;
    color: white;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button6{

  background-color: #3498db;
  color: white;
  border: none;
  padding-top: 100px;
  padding: 8px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
}

.container1{
  width:80%;
  padding-left: 200px;
  
}

.btn2{
  
  background-color: #3498db;
  color: white;
  border: none;
  padding-top: 100px;
  padding: 10px 80px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.button7{
  background-color: #3498db;
  color: white;
  border: none;
  padding-top: 10px;
  padding: 10px 80px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
  position: relative;
  left: 1100px;
}
/* Home page CSS */

.cont{
  margin-top: 0px;
    display: flex;
    height: 500px;
    /*border: 2px solid #000;*/
}

.cont1{
    width: 35%;
    height: 100%;

}

.cont2{
  width: 65%;
  height: 100%;

}

.ima{
  border-radius: 20px;
  margin-right: 20px;
}

.h1{
  font-size: 50px;
  position: relative;
  top:300px;
  left: 80px;
}

/*movie List*/

.contn{
  margin-top: 120px;
  margin-left: 30px;
  height: 400px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid #000;*/

}
.contn1{
  height: 300px;
  width: 18%;
  /*border: 2px solid #000;*/

}

.form-label{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Image List */

.ima1{
  border-radius: 10px;
}

.h3{
    margin-top: 30px;
}